.flex-align-center() {
  display: flex;
  align-items: center;
}

.flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-font() {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.02em;
  border-radius: @ButtonRadius;
  cursor: pointer;
  @media @desktop {
    font-size: 14px;
    line-height: 16px;
  }
}

.user-select-none() {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.text-line-clamp(@line-count: 1) {
  display: -webkit-box;
  -webkit-line-clamp: @line-count;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.overflow-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
}
// Mixins for ios 14 and below
.column-gap(@gap) {
  & > *:not(:last-child) {
    margin-right: @gap;
  }
}
.inset(@position) {
  top: @position;
  bottom: @position;
  left: @position;
  right: @position;
}
.aspect-ratio(@ratio) {
  position: relative;
  & > * {
    position: absolute;
    .inset(0);
  }
  &:before {
    content: "";
    display: block;
    padding-bottom: ~"calc(100% * (1 / @{ratio}))";
  }
}

.grid-gap(@row-gap, @column-gap: @row-gap) {
  @supports not (gap: @row-gap @column-gap) {
    margin-left: -(@column-gap / 2);
    margin-right: -(@column-gap / 2);
    margin-bottom: -@row-gap;
    & > * {
      padding-left: @column-gap / 2;
      padding-right: @column-gap / 2;
      margin-bottom: @row-gap;
    }
  }

  @supports (gap: @row-gap @column-gap) {
    gap: @row-gap @column-gap;
  }
}
